---
sudo: required
language: python
services:
  - docker
before_install:
  - sudo apt-get -qq update
install:
  - pip install ansible molecule ansible-lint
  # - pip install required driver (e.g. docker, python-vagrant, shade, boto, apache-libcloud)
  - pip install docker
script:
  - molecule lint
  - MOLECULE_DISTRO=centos7 molecule test
  - MOLECULE_DISTRO=ubuntu1804 molecule test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
